<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Sistema de Parqueo T3</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
  <div class="panel">
    <header class="encabezado">
      <div>
        <h2><i class="fas fa-shield-alt"></i> Sistema de Parqueo T3</h2>
        <p>Panel de Control de Seguridad</p>
      </div>
    </header>

    <section class="estado-parqueo">
      <h3><i class="fas fa-parking"></i> Estado del Parqueo</h3>
      <div class="estado-boxes">
        <div class="libres">
          <p>Espacios Libres</p>
          <h2 id="libres">0</h2>
          <i class="fas fa-check-circle"></i>
        </div>
        <div class="ocupados">
          <p>Espacios Ocupados</p>
          <h2 id="ocupados">0</h2>
          <i class="fas fa-car"></i>
        </div>
      </div>
    </section>

    <section class="vista-parqueo">
      <h3>Vista del Parqueo</h3>
      <div class="parqueo-grid" id="parqueoGrid">
        <!-- Se llenará por JavaScript la grilla de espacios -->
      </div>
      <div class="garitas">
        <div class="garita"><i class="fas fa-check-circle"></i> Garita de Entrada<br><span>Operativa</span></div>
        <div class="garita"><i class="fas fa-check-circle"></i> Garita de Salida<br><span>Operativa</span></div>
      </div>
    </section>

    <section class="emergencia">
      <h3><i class="fas fa-exclamation-triangle"></i> Control de Emergencia</h3>
      <input type="text" class="panico">
      <p>Ingresa el Codigo para Apagar el modo de Emergencia</p>
    </section>
  </div>
  
  <!--Script para actualizar los datos de los parqueos-->
  <script>
    function actualizarDatos() {
      fetch('/estado_espacios')
        .then(res => res.json())
        .then(data => {
          document.getElementById('libres').innerText = data.libres;
          document.getElementById('ocupados').innerText = data.ocupados;

          const grid = document.getElementById('parqueoGrid');
          grid.innerHTML = '';
          data.espacios.forEach(estado => {
            const div = document.createElement('div');
            div.className = 'espacio ' + estado;
            const icon = document.createElement('i');

            if (estado === 'libre') {
              icon.className = 'fas fa-square-parking';
            } else if (estado === 'ocupado') {
              icon.className = 'fas fa-car-side';
            } else {
              icon.className = 'fas fa-question';
            }

            div.appendChild(icon);
            grid.appendChild(div);
          });
        });
    }

    setInterval(actualizarDatos, 2000);
    actualizarDatos();
  </script>
</body>
</html>
